body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-size: cover;
    border-top: 20px;
    color: black;

}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


div {
    border-top: 0px;
    color: black;
}


nav a {
    margin-right: 0px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 30px;
    margin-top: 0px;
    color: white;

}

a {
    color: black;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    inset-inline-end: 10px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 450px;
    margin: auto;
    margin-left: 0px;
    position: relative;
    font-size: 50px;
    top: 0px;

}


.Tarjeta {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;

}

.Tarjeta2 {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin: 350px;
    font-family: 'Segoe UI', sans-serif;
    margin-top: -225px;
    left: 100px;
}

.Tarjeta3 {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin: 720px;
    font-family: 'Segoe UI', sans-serif;
    margin-top: -540px;
    left: 90px;

}

.Tarjeta4 {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -5px;
}

.Tarjeta5 {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin: 380px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -220px;

}





label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30px;
    border-radius: 400x;
    font-size: medium;
}

input {
    font-size: large;
    border-radius: 5px;
    height: 30px;



}

nav button {
    background-color: black;
    color: white;
    size: 12px;
    font-size: large;
    border-radius: 5px;
}

form button {
    background-color: beige;
    color: black;
    size: 12px;
    padding-left: 5px;
}

.imagen1 {
    padding-left: 600px;
    width: 350px;
    height: 300px;
    margin-top: 50px;
    position: absolute;
    left: 70px;
    top: 70px;
}



main h1 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
}

form h1 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
}

.tema1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: 480px;
    margin-top: -200px;



}

.imagen7 {
    width: 150px;
    height: 200px;
    position: absolute;
    left: 700px;
    margin-top: -300px;
    border-radius: 5px;
    font-size: medium;
}

#Buttom1 {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 50px;
    margin: 10px;
    font-size: x-large;
}

#Buttom2 {
    background-color: white;
    border-radius: 0px;
    border-bottom-color: black;
    font-size: large;
}

#parraf8 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 0px;
    font-family: 'Segoe UI', sans-serif;
    margin-top: -20px;

}

.imagen8 {
    margin: 30px;
    width: 350px;
    height: 300px;
    position: absolute;
    left: 70px;
    margin-top: -400px;
}

.tema2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: 500px;
    margin-top: 150px;
    left: 900px;
}

.parraf10 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 900px;
    width: 500px;
}

.tema3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: 490px;
    margin-top: 100px;
}

.subtema {
    background-color: rgb(131, 212, 152);
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: 400px;
    margin: 60px;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 30px;
    color: black;

}

.subtema2 {
    background-color: rgb(131, 212, 152);
    font-size: 40px;
    width: 400px;
}

.tema4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    height: 400px;
    margin-left: 900px;
    margin-top: -500px;
}

form img {
    width: 100px;
    height: 50px;
    margin-left: 100px;
    margin-top: -50px;
}

.tema5 {
    margin: 10px;
    margin-top: 500px;
    font-size: 40px;
    width: 450px;
}

.imagen10 {
    padding-left: 600px;
    width: 350px;
    height: 300px;
    margin-top: -600px;
    position: absolute;
    left: 200px;
}

.subtema_final {
    margin: 10px;
    font-size: 20px;
    width: 680px;
}

#button_end {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: large;
    width: 150px;
    height: 50px;
}

#button_last {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: large;
    width: 150px;
    height: 50px;
}

#first {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: large;
    width: 150px;
    height: 50px;
}

.botonth {
    background-color: black;
    color: white;
}

input {
    background-color: beige;
}

#primer {
    color: black;
}

.segundo {
    color: black;
}

.tercero {
    color: black;
    line-height: normal;
}

.apps {
    background-color: #f6f6f6;
    padding: 60px 40px;
    text-align: left;
}

.apps h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
}

.app-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.app-card {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border-radius: 10px;
    flex: 1;
    min-width: 300px;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.app-card img {
    width: 96px;
    height: 96px;
    object-fit: contain;
    margin-right: 20px;
}

.app-info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.app-info p {
    font-size: 14px;
    color: #555;
}

.arrow {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 20px
}

.i {
    left: -200px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header.Barra {
    background-color: #fff;
    padding: 1px 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header,
Barra .logo {
    font-size: 24px;
    font-weight: bold;
}

header.barra button {
    margin: 4px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background: #f5f5f5;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    align-items: center;
    gap: 32px;
}

.hero-content {
   display: flex;
   flex: 1px;
}

.hero-img {
    flex: 1;
    max-width: 100%;
    border-radius: 8px;
}

.travel-form input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

.form-buttons .btn-black {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.sugerencias .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    text-emphasis: center;
}

.card img {
    width: 100px;
    margin-top: 10px;
}

.sesion,
.viaja {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    text-align: left;
}



#btn-ini,
#btn-crr,
#sig {
    padding: 10px 16px;
    margin: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

#link {
    color: blue;
    text-decoration: underline;
}
footer li{
    color: white;
}
footer a{
    color: white;
    margin-top: auto;
}
footer h2{
    color: white;
    margin-top: auto;
}
footer h4{
    color: white;
    margin-top: auto;
}
footer{
    background-color: black;
}
.footer-columns{
    left: auto;
    column-gap: normal;
    column-count: initial;
}
ul{
    margin-top: 10px;
    margin-left: 50px;
}
.columna1{
    margin-left: 10px;
    margin-top: 10px;
}
.columna2{
    margin-left: 300px;
    margin-top: -180px;
}
.columna3{
    margin-left: 600px;
    margin-top: -180px;
}
.columna4{
    margin-left: 900px;
    margin-top: -100px;
}